@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

.min-vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.text-hover {
    background-image: linear-gradient(to right,
            #39C6FD 50%,
            white 50%);
    background-size: 200% 100%;
    background-position: -100%;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.text-hover::before {
    content: '';
    background: #54b3d6;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.text-hover:hover {
    background-position: 0;
}

.text-hover:hover::before {
    width: 100%;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.img {
    right: 0% !important;
    top: 0% !important;
    position: absolute !important;
}

.img-2 {
    left: 0% !important;
    bottom: -20% !important;
    position: absolute;
}

.w-100 {
    width: 100px;
}


nav a {
    font-size: 30px;
}

.py-30 {
    padding-bottom: 66px;
}

label[for="menu-icon"] {
    display: none;
}

.d-none {
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-7 {
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}

section {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-5 {
    border: none !important;
}

.bg-img {
    background-image: url(/image/Frame-7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    max-width: 607px;
    margin: 0 auto;
    font-family: "Oswald", serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 118.56px;
    text-align: center;
    color: white;
    z-index: 5 !important;
}

.para {
    font-family: "Open sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    color: white;
    z-index: 2 !important;
}

.JOIN-btn {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.64px;
    text-align: center;
    border: 0px;
    padding: 14px 27px 14px 27px;
    gap: 10px;
    border-radius: 5.04px;
    color: #070D37;
    background: #39C6FD;
    margin-left: auto;
    margin-right: auto;
    z-index: 2 !important;
}

.JOIN-btn:hover {
    color: #070e44;
    background: #408ead;
}

.mt-68 {
    margin-top: 68px;
}

.guid {
    display: flex;
    color: white;
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.71px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.position-relative {
    position: relative;
}

.z-1 {
    z-index: 2 !important;
}


.gap-18 {
    gap: 18px !important;
}

.mt-166 {
    margin-top: 125px;
}

.gap-20 {
    gap: 20px;
}

.mb-139 {
    margin-bottom: 139px;
}

.mb-178 {
    margin-bottom: 178px;
}

.mb-190 {
    margin-bottom: 190px;
}

.mb-64 {
    margin-bottom: 64px;
}

.btn-1 {
    color: #070D37;
    background: #39C6FD;
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.71px;
    text-align: right;
    border: 0;
    border-radius: 3.4px;
    padding: 8px 20px 8px 20px;
}

.btn-1:hover {
    color: #070D37;
    background: #116586;
}

.btn-2 {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.71px;
    /* text-align: center; */
    color: #39C6FD;
    background: #070D37;
    border: 1px solid #39C6FD;
    border-radius: 4px;
    padding: 8px 20px 8px 20px;

}

.btn-2:hover {
    color: #39C6FD;
    background: #0d1452;
}

.rest {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.71px;
    text-align: center;
    color: #39C6FD;
}

.item-center {
    text-align: center;
    display: flex;
}

.layer {
    bottom: -1%;
    position: absolute;
}

.heading-1 {
    font-family: "Oswald", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 71.14px;
    text-align: left;
    color: white;
}

.para-2 {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.15px;
    text-align: left;
    color: white;
}

.position-absolute {
    position: absolute;
    top: -58%;
    left: -23%;
    filter: blur(60px);
    z-index: -2;

}

.iphone {
    z-index: 1;
}

.card-1 {
    position: absolute;
    top: -77%;
    right: -0%;
    z-index: 1;
}

.mt-51 {
    margin-top: 51px;
}

.mt-63 {
    margin-top: 63px;
}

.mt-12 {
    margin-top: 12px;
}

.gap-53 {
    gap: 53px !important;
}

.bg-shadow {
    background-color: #070D37;
    min-height: 100vh;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/image/Line-img.svg);
    background-size: contain;
    background-position: center;
    transform: rotate(0);
}

.accordion-button::after {
    background-image: url(/image/arrow-img.svg);
    background-size: contain;
    background-position: center;
}

.pr-14 {
    padding-right: 14px;
}

.mt-53{
    margin-top: 53px;
}


.head {
    max-width: 632px;
    margin: 0 auto;
    font-family: "Oswald", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 71.14px;
    text-align: center;
    color: white;
}

.para-1 {
    max-width: 516px;
    margin: 0 auto;
    font-family: "Open sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: center;
    color: white;
}

.mt-17 {
    margin-top: 17px;
}

.mt-198 {
    margin-top: 198px;
}

.slick-track {
    display: flex;
    gap: 30px;
}

.flex-column {
    flex-direction: column;
}

.card {
    max-width: 494px;
    height: 461px;
}

.accordion-item {
    border: none !important;
    border-bottom: 2px solid #39C6FD !important;
    background-color: transparent !important;
}

.accordion-button {
    box-shadow: none !important;
}

.faqs {
    font-family: "Oswald", serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 71.14px;
    text-align: center;
    color: white;
}

.accordion-button.Collapsed::after {
    color: #FFFFFF !important;
    background: #FFFFFF !important;
}

.pl-60 {
    padding-left: 60px;
}

.accordion-body {
    max-width: 845px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    color: white !important;
    background-color: #070D37 !important;
}

.accordion-button {
    font-family: "Oswald", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 29.64px;
    text-align: left;
    color: white !important;
    background-color: #070D37 !important;
}

.accordion-button.Collapsed {
    background: #e6e6e9 !important;
}


.card-3 {
    position: absolute;
    left: 0%;
    top: -67%;
    z-index: 1;
}

.container-1 {
    max-width: 1140px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    border: 3px solid #39C6FD;
    padding-left: 71px;
    position: relative;
    background-color: #070D37;
}

.pt-65 {
    padding-top: 65px;
}

.mt-353 {
    margin-top: 353px;
}

.bg-img-1 {
    background-image: url(/image/wave.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 68px 1px;
    z-index: 2;
}

.join-now {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.71px;
    text-align: right;
    width: 117px;
    height: 46px;
    padding: 11px 27px 11px 27px;
    gap: 10px;
    border-radius: 4px;
    color: #070D37;
    background: #39C6FD;
    border: 0px;
}

.join-now:hover {
    color: #070D37;
    background: #116586;
}

.mt-63 {
    margin-bottom: 89px;
}

.join-para {
    max-width: 582px;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.phone {
    position: absolute;
    right: 43px;
    top: -30%;
    max-width: 302px;
    z-index: 1;
}

.card-2 {
    position: absolute;
    right: -0%;
    top: 36%;
    z-index: -1;
}

.accordion {
    max-width: 946px;
    margin: 0 auto;
}

.gap-30 {
    gap: 30px;
}

.store-btn {
    max-width: 148px;
    max-height: 44px;
    position: relative;
    z-index: 1;
}


.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #070D37;
}

.mt-254 {
    margin-top: 254px;
}

.footer-text {
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
    max-width: 810px;
    text-align: center;
    margin: 0 auto;
    padding: 24.79px 0px 52.94px;
    color: white;
}

.bg-shadow-1 {
    background-image: url(/image/Frame\ 12.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    text-align: center;
}

.footer-links {
    font-family: "Oswald", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.71px;
    display: flex;
    gap: 63.26px;
    margin-bottom: 59px;
}

.footer-link {
    color: white;
    font-family: "Oswald", serif;
}

.footer-line {
    min-width: 100%;
    border-top: 0.5px solid #39C6FD;
}

.bottom-text {
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    color: #B5B6C3;
    text-align: center;
}

.copy {
    line-height: 16.34px;
    text-align: center;
    color: #B5B6C3;
}

.mt-23 {
    margin-top: 23px;
}

@media (max-width: 992px) {
    .phone {
        position: relative;
        right: unset;
    }

    .container-1 {
        height: unset;
        row-gap: 20px;
        padding: 10px 12px;
    }

    .card-1 {
        top: -50%;
    }
}

@media (max-width: 575.98px) {
    .heading {
        font-size: 60px;
        line-height: normal;
    }

    .card-3 {
        max-width: 250px !important;
        top: -50px;
    }

    .card-1 {
        top: -30%;
    }
}

@media (min-width:992px) {
    .accordion {
        width: 946px !important;
    }
}


@media (max-width:767.98px) {
    .menu-list {
        background-color: black;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        justify-content: center;
        transition: right 200ms linear;
    }

    .d-md-flex {
        display: flex !important;
    }

    .d-md-none {
        display: none !important;
    }

    input:checked~ul {
        right: 0;
    }

    label[for="menu-icon"] {
        position: relative;
        z-index: 1;
        cursor: pointer;
        width: 40px;
        height: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    label[for="menu-icon"] span {
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 22px;
        transition: transform 200ms linear;
    }

    label[for="menu-icon"]:has(~input:checked) span:nth-child(1) {
        transform: rotate(48deg);
        transform-origin: left;
    }

    label[for="menu-icon"]:has(~input:checked) span:nth-child(2) {
        opacity: 0;
        transform: translateX(-10px);
    }

    label[for="menu-icon"]:has(~input:checked) span:nth-child(3) {
        transform: rotate(-48deg);
        transform-origin: left;
    }
}